/* default css */
p{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: white;
}
body{
  font-family: Roboto;
}

h1,h2,h3,h4,h5,h6{
  margin: 0px;
  padding: 0px;
}
h1 {font-size: 32px;}
h2 {font-size: 28px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
h6 {font-size: 16px;}
p {font-size: 16px;}


.container{
  padding: 0px 24px;
}
.horizontal_scroll{
  display: flex;
  overflow: scroll;
  grid-gap: 16px;
  margin-top: 16px;
  overflow-x: auto;
  padding-right: 24px;
  
}
.horizontal_scroll::-webkit-scrollbar {
  display: none;
}
